<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sugar Fantasy</title>
  <link rel="icon" type="image/jpg" href="img/logo sugarfantasy.jpg" >

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-casual.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div >
      
    <img src="/img/logo sugarfantasy.jpg" height="250" width="250" style="margin-left: 42%;margin-top: 2%; margin-bottom: 2%;">
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
           
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                   
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="/">Home
                            
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="/tortas">Tortas</a>
                    </li>
                    
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="/postres">Postres</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="/productos">Productos</a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>
  </div>
  
  <br>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img mb-3 img-fluid mb-lg-0 rounded"  src="img/tendencias-tortas.jpg"  >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Reposteria</span>
            <span class="section-heading-lower">Sugar Fantasy</span>
          </h2>
          <p class="mb-3">Con mas de 15 años de experiencia Sugar Fantasy te ofrece una gran variedad de productos- Te invitamos a vivir una experiencia con cada uno de nuestras tortas, perfectos para celebrar esas fechas que sabemos son especiales para vos!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="/tortas">Tortas</a>
            <a class="btn btn-primary btn-xl" href="/postres">Postres</a>
            <a class="btn btn-primary btn-xl" href="/podructos">Productos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- 
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img2 mb-3 mb-lg-0 rounded" src="img/tendencias-tortas.jpg" height="350"   >
      <div class="intro-text2 left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Pasteles</span>
          <span class="section-heading-lower">Sugar Fantasy</span>
        </h2>
        <p class="mb-3">Te invitamos a vivir una experiencia con cada uno de nuestros pasteles, perfectos para celebrar esas fechas que sabemos son especiales para vos!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="/tortas">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img mb-3 mb-lg-0 rounded" src="img/postre2.jpg" height="350"  >
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Postres</span>
          <span class="section-heading-lower">Sugar Fantasy</span>
        </h2>
        <p class="mb-3">Contamos con gran variedad de postres que complementan tu celebracion, asi como para quitarte esas ganas de un dulce!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="/postres">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img2 mb-3 mb-lg-0 rounded" src="img/cupc.jpg" height="350"   >
      <div class="intro-text2 left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Productos</span>
          <span class="section-heading-lower">Sugar Fantasy</span>
        </h2>
        <p class="mb-3">Te ofrecemos todos los productos que necesitas para decoracion y todo lo que necesitas para ese dia especia!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="/productos">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

 

</body>

</html>
